@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7d3g2y');
  src:  url('../fonts/icomoon.eot?7d3g2y#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7d3g2y') format('truetype'),
    url('../fonts/icomoon.woff?7d3g2y') format('woff'),
    url('../fonts/icomoon.svg?7d3g2y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e900";
}


body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
}

.hero {
    height: 300px;
    /* background-image: url('../images/hero.jpg'); */
    /* background-size: 500px ; */
    /* background-repeat: no-repeat; */
    /* background-position-x: right; */
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-image {
    object-fit: cover;
}

.portfolio {
    background: #fafafa;
    padding: 20px;
}

.project {
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-course, .project-date, .project-url {
    margin: 10px 0;
}

.project-description {
    font-size: 20px;
}

.project strong {
    font-family: 'Fjalla One', sans-serif;
}

.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-details {
    width: 50%;
}
.project-imageContainer {
    width: 50%;
}

.project-imageContainer img {
    max-width: 100%; /*100% del ancho del elemento padre*/
}

.header {
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    flex-wrap: wrap;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu {
    height: inherit;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.header a {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

figure {
    margin: 0;
}

.header a {
    color: white;
    text-decoration: none;
}

h1 strong {
    color: #026fff;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.footer {
    color: white;
    background: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
}

.event {
    margin: 1%;
    width: 48%;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background: #f4fbff;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
}

.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail {
    margin: 20px 40px;
    background-color: white;
    margin-top: -40px;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description {
    text-align: left;
}

.event-url {
    color: #056fff;
    border: 1px solid; /*border por defecto toma el color declarado en color*/
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.event-list-title {
    margin-left: 10px;
}

.contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social {

}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;

    font-size: 50px;
    color: white;
    text-decoration: none;
}

.social-link.twitter {
    background-image: url('../images/twitter.svg');
}

.social-link.facebook {
    background-image: url('../images/facebook.svg');
}

.social-link.github {
    background-image: url('../images/github.svg');
}

.social-link.instagram {
    background-image: url('../images/instagram.svg');
}

.form-email input {
    border-color: gray;
    padding: 10px 20px 10px 25px; /*El padding ajusta el texto mostrado adentro del input*/
    border-style: solid;
    border-radius: 5px;
    background-image: url('../images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    width: 100px;
    border-radius: 5px;
    margin-top: 10px; /* Centrar el elemento según el elemento anterior (el input) */
}

.form-email h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    max-width: 1000px;
    flex: 1;
    margin: 0 auto; /*centra el elemento*/
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: wrap;
}

.html-video {
    width: 100%;
    height: auto;
}

.youtube-video {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%
    height: 100%;
}

.flexible-video {
    width: 100%;
    height: 0;
    /*
    Cálculo del aspect ratio de la caja:
    1. Se calcula la proporcion alto/ancho por medio de la siguiente operación:
        315 * 100 / 560 = 56.25 <-- Es la proporción entre alto y ancho (16:9)
    2. Si a una caja se le pone una altura de cero, el único elemento que puede
       modificar su altura sería el padding, y cuando a éste se le coloca un
       valor porcentual el cálculo se hace en base al ancho del elemento (por
       ejemplo, para una caja de ancho 100px, alto 0 y padding-top 100%, el
       valor final de padding-top será de 100px. Si en cambio se coloca un valor
       de padding-top de 25%, el valor final calculado será de 25px).
    3. Por la razón del punto 2 el padding-top se coloca a 56.25% para que
       mantenga un aspect ratio de 16:9 (9/16 = 0.5625).
    */
    padding-top: 56.25%;
    position: relative;

}

.burger-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.8);
    display: none;
    /*
    Antes de flex, para centrar de manera vertical se igualaba la propiedad
    line-height al alto del elemento.
    Para centrar horizontalmente se utilizaba la propiedad text-align: center.
    */
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
}

/* Desktop first: Empezar desde el media query más grande */

/**
Se cambió la media query a 1023 porque a partir de 1024 se considera que es
la pantalla de un desktop.
*/
@media screen and (max-width: 1023px) {
    .event-list-title {
        margin-left: 0;
    }
    .portfolio {
        padding: 0;
    }
    .container {
        padding: 0 1em;
    }
    .hero {
        height: auto;
        /* Es necesario especificar al contenedor hero con posición relativa
        para que la imagen pueda ubicarse de manera absoluta con respecto a hero.
        */
        position: relative;
        overflow: hidden;
        padding: 2em;
    }
    .hero-image {
        position: absolute;
        z-index: 1;
        /* Al poner los valores de left, right, top y bottom en cero se logra
        que el elemento se estire en todas sus direcciones. */
        left: 0;
        right: 0;
        /* top: -40%; */
        top: 0;
        bottom: 0;
        width: 100%;
        /* Object position se usa para que al mostrar la foto no se corte la
        cabeza de Leonidas ;) */
        object-position: center 27%;
    }
    h1 {
        font-size: 2em;
        z-index: 2;
    }
}

/* Se quita un pixel al break point porque los cambios se aplicarán a todos los
dispositivos con ancho menor a 768. */
@media screen and (max-width: 767px) {
    h2 {
        font-size: 1.2em;
        margin: .5em 0;
    }
    .burger-button {
        display: block;
    }
    .header {
        display: block;
        height: auto;
    }
    .header ol {
        display: block;
    }
    .header ol li {
        height: 50px;
        text-align: center;
    }
    .header a {
        justify-content: center;
        height: 40px;
        font-size: 2em;
        text-decoration: underline;
        margin-bottom: .5em;
    }
    .header .logo {
        text-align: center;
    }

    .menu {
        position: fixed;
        background: rgba(5, 111, 255, 0.9);
        z-index: 3;
        top: 0;
        /*
        Por defecto el menú está oculto, por ello se aplica un valor negativo
        correspondiente al total del ancho del elemento a la propiedad left,
        para que se oculte a la izquierda.
        */
        left: -100vw;
        width: 100vw;
        /* height: 100vh; */
        /* Debido a que el alto del elemento originalmente es inherit, se
        utiliza bottom: 0 para hacer que el elemento tenga el alto de la
        pantalla. */
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        /* Animación para mostrar el menú */
        transition: .3s;
    }
    .menu.is-active {
        /*
        El menú se muestra cuando se le aplica la clase is-active.
        */
        left: 0;
    }
    .project {
        display: block;
    }
    .project-imageContainer {
        width: auto;
        text-align: center;
    }
    .project-details {
        width: auto;
        /* Por defecto el tamaño heredado de fuente es de 16px por eso se omite
        la declaración de tamaño de fuente. */
        /* font-size: 16px; */
    }
    .project-course, .project-date, .project-url {
        margin: .3em 0;
    }
    .project-title {
        font-size: 1.5em;
        margin-bottom: .3em;
    }
    .project-url {
        font-size: 1em;
    }
    .project-course {
        font-size: .7em;
    }
    .project-date {
        font-size: 1em;
    }
    .project-description {
        font-size: 1em;
    }
    .event {
        width: auto;
        flex-shrink: initial;
    }
    .event img {
        width: 100%;
        /* max-height: 250px;
        object-position: 25% 25%; */
        /* object-position: center; */
        /* height: auto; */
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }
    .project-details {
        width: auto;
        font-size: 14px;
    }
    .event-detail {
        /* En éste punto 1em = 16px ya que no se ha definido un tamaño de fuente
        para ningún elemento padre. */
        margin: -2em .5em .5em;
        padding: 1em;
    }
    .contact {
        height: auto;
        padding: 1em 0;
        text-align: center;
        display: block;
    }

    .form-email button {
        margin: 1em auto;
    }
    .form-email h3 {
        /* Iguala los márgenes superior e inferior */
        margin-top: 0;
    }
    .footer {
        display: block;
        text-align: center;
        /* Sin la siguiente linea, el footer se arruina por los márgenes aplicados
        a los elementos hijos.  Eso se arregla (cuando no se usa flex) aplicando
        un padding o un margin.  En el presente caso se aplica un borde transparente */
        border: 1px solid transparent;

    }

    .social-link {
        width: 40px;
        height: 40px;
        /**
        Se coloca background-size: 100% para que el tamaño se establezca como
        el tamaño del ancho y alto.
        */
        background-size: 100%;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 1.2em;
        /* El background mejora la legibilidad  */
        background: rgba(0, 0, 0, 0.5);
    }
    .hero {
        padding: 2em 1em;
    }
}
